// colors...
$puce-pink-color: #CC7C9D;
$coral-pink-color: #F2828F;
$amethyst-purple-color: #976AC1;
$hansa-yellow-color: #EAD279;

$alabaster-gray-color: #FAFAFA;
$mercury-gray-color: #E1E1E1;

$choco-brown-color:  #843E05;
$coconut-brown-color: #935F35;